{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}


<div class="row">
    <div class="col-xl-3"></div>
    <div class="col-xl-6 mb-4">
        <h5>Tổng quan tài sản và nợ theo tháng</h5>
    </div>
    <div class="col-xl-3"></div>
</div>

<div class="row">
    <div class="col-xl-3"></div>
    <div class="col-xl-6 mb-4">
        <canvas id="net_asset_history_data_chart"></canvas>
    </div>
    <div class="col-xl-3"></div>
</div>


<div class="row">
    <div class="col-xl-3"></div>
    <div class="col-xl-6 mb-4">
        <h5>Thông tin tài sản và nợ tại thời điểm hiện tại</h5>
    </div>
    <div class="col-xl-3"></div>
</div>

<div class="row">
    <div class="col-xl-3"></div>
    <div class="col-xl-6 mb-4">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            Tài sản
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <div class="card-body">
                        <ul class="list-group">
                            {% for a in list_assets %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                {{a.name}}
                                <span class="badge badge-primary badge-pill">{{a.amount}}</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Nợ
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul class="list-group">
                            {% for l in list_liabilities %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                {{l.name}}
                                <span class="badge badge-primary badge-pill">{{l.amount}}</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3"></div>
</div>



<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctx = document.getElementById('net_asset_history_data_chart').getContext('2d');

    var chart_data = JSON.parse('{{ chart_data | safe}}');

    var dataset = [
        {
            label: 'Tài sản ròng',
            data: chart_data.map(function (e) {
                console.log("ee: ", e)
                return e.net
            }),
            stack: 'combined',
            type: 'bar'
        },
        {
            label: 'Tài sản',
            data: chart_data.map(function (e) {
                return e.asset
            }),
            stack: 'combined'
        },
        {
            label: 'Nợ',
            data: chart_data.map(function (e) {
                return e.liability
            }),
            stack: 'combined'
        }
    ]


    const config = {
        type: 'line',
        data: {
            labels: chart_data.map(function (e) {
                return e.month
            }),
            datasets: dataset
        },
        options: {
            plugins: {
                title: {
                    display: true,
                    text: 'Tài sản ròng theo tháng'
                }
            },
            scales: {
                y: {
                    stacked: true
                }
            }
        },
    };

    new Chart(ctx, config);
</script>

{% endblock %}