{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}

<h4>Nhật ký hoạt động</h4>

<form method="post" id="acticty-form-id" data-cities-url="{% url 'asset:ajax_load_category' %}" novalidate>

    {% csrf_token %}
    {% bootstrap_form form %}

    <button class="btn btn-primary">Thêm</button>

</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_activity_type").change(function () {
        var url = $("#acticty-form-id").attr("data-cities-url");
        var activity_type = $(this).val();

        $.ajax({
            url: url,
            data: {
                'activity_type': activity_type
            },
            success: function (data) {
                $("#id_category").html(data);
            }
        });

        if (activity_type == "INCOME") {
            $("#id_funding_sources").html('<option value="CASH" selected="">Tiền mặt</option>')
        } else {
            $("#id_funding_sources").html('<option value="CASH" selected="">Tiền mặt</option><option value="CREDIT CARD">Thẻ tín dụng</option><option value="SHORT-TERM DEBT">Khoản nợ ngắn hạn</option><option value="LONG-TERM DEBT">Khoản nợ giải hạn</option>')
        }

    });
</script>


{% endblock %}